system_directory = "../bios/neogeo/"
input_remapping_directory = "../configs/neogeo/remaps/"
rgui_config_directory = "../configs/neogeo/options/"
savefile_directory = "../saves/neogeo/"
savestate_directory = "../states/neogeo/"

video_fullscreen_x = 1600
video_fullscreen_y = 900

#include "../retroarch/retroarch.cfg"