# Ignore these directories
bios/
roms/
metadata/
/xpadder/
launch/WIP/
!emulators/
emulators/*

# Ignore Pegasus frontend shortcut/exe and readme
pegasus/pegasus.lnk
pegasus/pegasus-fe.exe
pegasus/README.md
pegasus/LICENSE.md
pegasus/config/lastrun.log
pegasus/config/stats.db

# Ignore retroarch content history files
*.lpl

# Ignore backup config directory for a5200
configs/atari5200/backups/

# Ignore PSP state files and other non-config data
configs/psp/PSP/PPSSPP_STATE/
configs/psp/PSP/SAVEDATA/
configs/psp/PSP/SYSTEM/CACHE/

# Ignore Dolphin Wii System Menu Installs and other temp/binary files
configs/wii/Cache/*
configs/wii/Logs/*
configs/wii/Wii/sd.raw
configs/wii/Wii/shared1/*
configs/wii/Wii/shared2/*
configs/wii/Wii/sys/*
configs/wii/StateSaves/*
configs/wii/Wii/title/*
configs/wii/Wii/ticket/*

# Ignore Model 2 Screenshot and Save dirs
configs/arcade-model2/SHOTS/*
configs/arcade-model2/STATES/*

util/gamelists.laccdb
util/gamelists.accdb
util/TypeXtra/

states/
saves/
