system_directory = "../bios/arcade-atomiswave/"
input_remapping_directory = "../configs/arcade-atomiswave/remaps/"
rgui_config_directory = "../configs/arcade-atomiswave/options/"
savefile_directory = "../saves/arcade-atomiswave/"
savestate_directory = "../states/arcade-atomiswave/"

#include "../retroarch/retroarch.cfg"