system_directory = "../bios/arcade-atomiswave/"
input_remapping_directory = "../configs/arcade-atomiswave/remaps/"
rgui_config_directory = "../configs/arcade-atomiswave/options/"
savefile_directory = "../saves/arcade-atomiswave/"
savestate_directory = "../states/arcade-atomiswave/"
video_driver = "glcore"

video_fullscreen_x = 1768
video_fullscreen_y = 992

#include "../retroarch/retroarch.cfg"